@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";

// Global styles

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    color: $dark;
}

.wrapper {
    max-width: 115rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.button {
    background-color: $secondary;
    border: 0.2rem solid $secondary;
    border-radius: 1.5rem;
    margin: 3rem 0;
    &:hover {
        background-color: $primary;
    }
    &__link {
        color: #fff;
        font-size: 2.4rem;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        padding:1rem 3rem;
        display: block;
    }
    &__link:hover {
        color: $secondary;
        // color not working - to troubleshoot
    }
}

.blue {
    color: $secondary;
}

// End of gloabl styles

// HEADER

header {
    background-image: url(../assets/image-1.jpeg);
    background-attachment: fixed;
    height: 120vh;
    background-size: cover;
}

.navBar {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo {
        flex: 1 0 2rem;
        padding-bottom: 0;
    }
    &__list {
        flex: 1 1 5rem;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: $dark;
        font-family: "Montserrat", sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__link--smallWhite {
        color: #fff;
        font-size: 1.6rem;
        padding: 0 2rem;
    }
    &__rights {
        padding-top: 3rem;
        font-size: 1.6rem;
    }
}

.navBar--flex {
    flex-direction: column;
    align-items: center;
}

.flexWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

// INTRO

.intro {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

// WHY CHOOSE US

.whyUs {
    background: $light;
    display: flex;
    align-items: center;
}

.left {
    padding: 10rem;
    width: 50%;
}

.persuasive {
    display: flex;
    align-items: center;
    &__image {
        width: 20%;
        height: 8rem;
        margin-right: 5%;
        object-fit: cover;
    }
    &__figcaption {
        width: 75%;
    }
}

.persuasive--padding {
    padding-bottom: 3rem;
}

.right {
    width: 50%;
}

// SERVICES 1

.services {
    padding: 10rem 0;
    h2 {
        text-align: center;
    }
}

.cards {
    display: flex;
}

.service {
    width: calc(100% / 3 - 2%);
    margin: 0 1%;
    padding: 4rem;
    border: 0.1rem solid $primary;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        background: $primary;
    }
    &__icon {
        font-size: 8rem;
        padding-bottom: 4rem;
    }
    &__description {
        text-align: center;
        padding: 1rem 0;
    }
    &__pros {
        list-style-type: none;
        margin: 0;
        padding: 2rem 0 0 0;
    }
    &__item {
        position: relative;
        padding: 0.5rem 0;
    }
    &__item::before {
        content: '\f00c';
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        position: absolute;
        top: 28%;
        left: -25%;
    }
}

// TESTIMONIALS

.testimonials .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.testimonials {
    background: $dark;
    color: #fff;
    padding: 10rem 0;
    &__image {
        margin-bottom: 3rem;
        position: relative;
    }
    &__image::before {
        content: '\f104';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        position: absolute;
        color: #fff;
    }
    &__image::after {
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        position: absolute;
        color: #fff;
    }
    &__comment {
        font-size: 2.6rem;
        line-height: 3.6rem;
        text-align: center;
        padding-bottom: 3rem;
    }
    &__name {
        font-size: 2.6rem;
        font-style: italic;
        // font-weight: 200;
    }
}

// GALLERY

.gallery {
    color: #fff;
    display: flex;
    &__item {
        width: 25%;
        height: 25rem;
    }
    &__item1 {
        background: url(../assets/image-6.jpeg);
        background-size: cover;
    }
    &__item2 {
        background: url(../assets/image-7.jpeg);
        background-size: cover;
    }
    &__item3 {
        background: url(../assets/image-8.jpeg);
        background-size: cover;
    }
    &__item4 {
        background: url(../assets/image-9.jpeg);
        background-size: cover;
    }
    &__hover {
        background: rgba(0,0,0,0.7);
        height: 25rem;
        display: none;
    }
    &__border {
        width: 80%;
        padding: 4rem 2rem;
        border: 0.1rem solid #fff;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__description {
        text-align: center;
        padding-top: 1.5rem;
    }
    &__item:hover .gallery__hover {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// SERVICES 2

.services2 {
    padding: 10rem 0;
    text-align: center;
}

.services2 h2 {
    padding-bottom: 8rem;
}

.offer {
    display: flex;
    flex-wrap: wrap; 
    &__item {
        width: 50%;
        padding: 0 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__header {
        padding-bottom: 3rem;
    }
    &__button {
        margin-top: 4rem;
        width: 40%;
        display: block;
    }
    &__image {
        width: 50%;
    }
}

// ASK A QUESTION

.question {
    background: $primary;
    padding: 10rem 0;
    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__message {
        border: 0.1rem solid $dark;
        background: transparent;
        padding: 1rem;
        width: 60%;
        color: $dark;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__message::placeholder {
        text-align: center;
    }
    &__message::-moz-placeholder {
        opacity: 1;
    }
    &__message:focus {
        font-weight: 400;
        color: dimgray;
    }
    &__send {
        background: $dark;
        border: none;
        border-radius: 1rem;
        margin: 4rem 0;
        color: #fff;
        font-size: 2.4rem;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1rem 4rem;
        display: block;
    }
}

// TEAM

.team {
    padding: 10rem 0;
    background: $light;
    h2 {
        text-align: center;
    }
}

.bios {
    display: flex;
    &__container {
        width: calc(100% / 3 - 4rem);
        height: 35rem;
        margin: 0 2rem;
    }
    &__container1 {
        background: url(../assets/image-12.jpeg);
        background-size: cover;
    }
    &__container2 {
        background: url(../assets/image-13.jpeg);
        background-size: cover;
    }
    &__container3 {
        background: url(../assets/image-14.jpeg);
        background-size: cover;
    }
    &__hover {
        background: rgba(0,0,0,0.7);
        height: 35rem;
        color: #fff;
        display: none;
    }
    &__container:hover .bios__hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// FOOTER

footer {
    background: $dark;
    color: #fff;
}

.topFooter {
    padding: 10rem 0 5rem 0;
    &__sections {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
    }
    &__item {
        padding: 0;
        width: calc(100% / 3);
    }
    &__item--margin {
        margin: 0 4rem;
    }
    &__heading {
        padding-bottom: 3rem;
    }
    &__contactItem {
        padding-bottom: 2rem;
        position: relative;
    }
    &__email::before {
        content: '\f0e0';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        padding-right: 0.5rem;
    }
    &__phone::before {
        content: '\f095';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        padding-right: 0.5rem;
    }
    &__address::before {
        content:'\f3c5';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        padding-right: 0.5rem;
    }
    &__emailInput {
        background: transparent;
        border: 0.1rem solid #fff;
        padding: 0.5rem;
        color: #fff;
        text-transform: lowercase;
    }
    &__emailInput::-moz-placeholder {
        opacity: 1;
    }
    &__emailInput::after {
        content: '\f1d8';
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
    }
    // FIX EMAIL ICON - NOT WORKING 
    &__emailInput:focus {
        color: $primary;
        border: 0.1rem solid $primary;
    }
    &__about {
        line-height: 2.6rem;
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;
    }
    &__galleryItem {
        width: calc(25% - 1rem);
        margin: 0.5rem;
    }
}

.navBar--flex {
    border-top: 0.1rem solid $light;
}