article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

h1 {
  font-size: 8.3rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0 0 3rem 0; }

h3 {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h4 {
  font-size: 3.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h5 {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

header {
  background-image: url(../assets/image-1.jpeg);
  background-attachment: fixed;
  height: 120vh;
  background-size: cover; }

.navBar {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .navBar__logo {
    width: 20%;
    padding-bottom: 0;
    margin-right: 15%; }
  .navBar__logo--noMargin {
    margin: 0 0 2rem 0; }
  .navBar__list {
    width: 55%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navBar__list--long {
    width: 65%; }
  .navBar__link {
    color: #1d1d1d;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase; }
  .navBar__link:hover {
    border-bottom: 0.4rem solid #1d1d1d; }
  .navBar__link--smallWhite {
    color: #fff;
    font-size: 1.6rem;
    margin: 0 2rem; }
  .navBar__link--smallWhite:hover {
    border-bottom: 0.2rem solid #fff; }
  .navBar__rights {
    padding-top: 3rem;
    font-size: 1.6rem; }

.navBar--flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flexWelcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh; }

@media (max-width: 1100px) {
  .navBar__logo--noMargin {
    width: 100%;
    text-align: center; } }

@media (max-width: 970px) {
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .navBar__logo {
      margin: 0;
      text-align: center;
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .navBar__logo--noMargin {
      text-align: center; }
    .navBar__list {
      width: 80%; }
  .flexWelcome {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 80vh; }
  .welcome {
    padding: 2rem;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.2);
    color: #fff; } }

@media (max-width: 730px) {
  .navBar__list {
    width: 100%; }
  .navBar__list--long {
    width: 100%; } }

@media (max-width: 630px) {
  .navBar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .navBar__item {
    display: block;
    width: 100%; }
  .navBar__link {
    display: block;
    max-width: 100%;
    padding: 2rem 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-bottom: 0.1rem solid #1d1d1d;
    margin: 0; }
  .navBar__link:hover {
    border-bottom: 0.1rem solid #1d1d1d; }
  .navBar__link:active {
    background: #1d1d1d; }
  .flexWelcome {
    height: 50vh; }
  .welcome {
    background: none;
    color: #1d1d1d; } }

@media (max-width: 570px) {
  .navBar__logo {
    font-size: 3rem; }
  .navBar__link {
    margin: 0 1rem; }
  .welcome__heading {
    font-size: 4rem; }
  .welcome__blurb {
    font-size: 2.6rem; } }

footer {
  background: #1d1d1d;
  color: #fff; }

.topFooter {
  padding: 10rem 0 5rem 0; }
  .topFooter__sections {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .topFooter__item {
    padding: 0;
    width: calc(100% / 3); }
  .topFooter__item--margin {
    margin: 0 4rem; }
  .topFooter__heading {
    padding-bottom: 3rem; }
  .topFooter__contactItem {
    padding-bottom: 2rem; }
  .topFooter__email::before {
    content: '\f0e0';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    padding-right: 0.5rem; }
  .topFooter__phone::before {
    content: '\f095';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    padding-right: 0.5rem; }
  .topFooter__address::before {
    content: '\f3c5';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    padding-right: 0.5rem; }
  .topFooter__emailInput {
    width: 70%;
    margin-top: 1.5rem;
    background: transparent;
    border: 0.1rem solid #fff;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    text-transform: lowercase; }
  .topFooter__inputContainer {
    position: relative; }
  .topFooter__inputContainer::after {
    content: '\f1d8';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 1.2rem;
    color: #f1f3f3;
    position: absolute;
    bottom: 15%;
    right: 33%; }
  .topFooter__emailInput::-moz-placeholder {
    opacity: 1; }
  .topFooter__emailInput:focus {
    color: #8ecceb;
    border: 0.1rem solid #8ecceb; }
  .topFooter__about {
    line-height: 2.6rem; }
  .topFooter__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .topFooter__galleryItem {
    width: calc(25% - 1rem);
    margin: 0.5rem; }

.navBar--flex {
  border-top: 0.1rem solid #f1f3f3; }

@media (max-width: 1100px) {
  .topFooter__item:nth-child(2) {
    width: 50%; } }

@media (max-width: 730px) {
  .topFooter__sections {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .topFooter__item {
    width: 50%; }
  .topFooter__item:nth-child(2) {
    display: none; } }

@media (max-width: 570px) {
  .topFooter__sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .topFooter__item:nth-child(3) {
    margin-top: 3rem; }
  .topFooter__inputContainer::after {
    right: 20%; } }

html {
  font-size: 62.5%; }

img {
  max-width: 100%;
  display: block; }

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #1d1d1d; }

.wrapper {
  max-width: 110rem;
  margin: 0 auto; }

a {
  text-decoration: none; }

.button {
  background-color: #0e5f88;
  border: none;
  border-radius: 1.5rem;
  margin: 3rem 0; }
  .button:hover {
    background-color: rgba(14, 95, 136, 0.7); }
  .button__link {
    color: #fff;
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 3rem;
    display: block; }

.blue {
  color: #0e5f88; }

.intro {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.whyUs {
  background: #f1f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.left {
  padding: 10rem 5rem 10rem 10rem;
  width: 50%; }

.persuasive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .persuasive__image {
    width: 20%;
    height: 8rem;
    margin-right: 5%;
    -o-object-fit: cover;
    object-fit: cover; }
  .persuasive__figcaption {
    width: 75%; }

.persuasive--padding {
  padding-bottom: 3rem; }

.right {
  width: 50%; }

.services {
  padding: 10rem 0; }
  .services h2 {
    text-align: center; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.service {
  width: calc(100% / 3 - 2%);
  margin: 0 1%;
  padding: 4rem;
  border: 0.1rem solid #8ecceb;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .service:hover {
    background: #8ecceb; }
  .service__icon {
    font-size: 8rem;
    padding-bottom: 4rem; }
  .service__description {
    text-align: center;
    padding: 1rem 0; }
  .service__pros {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0 0 0; }
  .service__item {
    position: relative;
    padding: 0.5rem 0; }
  .service__item::before {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    top: 28%;
    left: -25%; }

.testimonials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.testimonials {
  background: #1d1d1d;
  color: #f1f3f3;
  padding: 10rem 0; }
  .testimonials__imageContainer {
    margin-bottom: 3rem;
    position: relative; }
  .testimonials__imageContainer::before {
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 3.6rem;
    color: #f1f3f3;
    position: absolute;
    top: 50%;
    left: -40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .testimonials__imageContainer::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 3.6rem;
    color: #f1f3f3;
    position: absolute;
    top: 50%;
    right: -40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .testimonials__comment {
    font-size: 2.6rem;
    line-height: 3.6rem;
    text-align: center;
    padding-bottom: 3rem; }
  .testimonials__name {
    font-size: 2.6rem;
    font-style: italic; }

.gallery {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 22rem;
    flex: 1 0 22rem;
    height: 25rem; }
  .gallery__item1 {
    background: url(../assets/image-6.jpeg);
    background-size: cover; }
  .gallery__item2 {
    background: url(../assets/image-7.jpeg);
    background-size: cover; }
  .gallery__item3 {
    background: url(../assets/image-8.jpeg);
    background-size: cover; }
  .gallery__item4 {
    background: url(../assets/image-9.jpeg);
    background-size: cover; }
  .gallery__hover {
    background: rgba(0, 0, 0, 0.7);
    height: 25rem;
    display: none; }
  .gallery__border {
    width: 80%;
    padding: 2rem 1rem;
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .gallery__description {
    text-align: center;
    padding-top: 1.5rem; }
  .gallery__item:hover .gallery__hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.services2 {
  padding: 10rem 0;
  text-align: center; }

.services2 h2 {
  padding-bottom: 8rem; }

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .offer__item {
    width: 50%;
    padding: 0 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .offer__header {
    padding-bottom: 3rem;
    position: relative; }
  .offer__header1::before {
    content: '1.';
    position: absolute;
    top: -90%;
    left: -80%;
    color: #e5e3e3;
    font-size: 13.4rem; }
  .offer__header2::before {
    content: '2.';
    position: absolute;
    top: -90%;
    left: -50%;
    color: #e5e3e3;
    font-size: 13.4rem; }
  .offer__button {
    margin-top: 4rem;
    display: block; }
  .offer__image {
    width: 50%; }

.question {
  background: #8ecceb;
  padding: 10rem 0; }
  .question__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .question__message {
    border: 0.1rem solid #1d1d1d;
    background: transparent;
    padding: 1rem;
    width: 60%;
    color: #1d1d1d;
    text-transform: uppercase;
    font-weight: 700; }
  .question__message::-webkit-input-placeholder {
    text-align: center; }
  .question__message:-ms-input-placeholder {
    text-align: center; }
  .question__message::-ms-input-placeholder {
    text-align: center; }
  .question__message::placeholder {
    text-align: center; }
  .question__message::-moz-placeholder {
    opacity: 1; }
  .question__message:focus {
    font-weight: 400;
    color: dimgray; }
  .question__send {
    background: #1d1d1d;
    border: none;
    border-radius: 1rem;
    margin: 4rem 0;
    color: #fff;
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 4rem;
    display: block; }
  .question__send:hover {
    background: rgba(0, 0, 0, 0.7); }

.team {
  padding: 10rem 0;
  background: #f1f3f3; }
  .team h2 {
    text-align: center; }

.bios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .bios__container {
    width: calc(100% / 3 - 2%);
    height: 30rem;
    margin: 0 1%; }
  .bios__container1 {
    background: url(../assets/image-12.jpeg);
    background-size: cover; }
  .bios__container2 {
    background: url(../assets/image-13.jpeg);
    background-size: cover; }
  .bios__container3 {
    background: url(../assets/image-14.jpeg);
    background-size: cover; }
  .bios__hover {
    background: rgba(0, 0, 0, 0.7);
    height: 30rem;
    color: #fff;
    display: none; }
  .bios__container:hover .bios__hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@media (max-width: 1250px) {
  .wrapper {
    max-width: 100rem; }
  .left {
    padding: 5rem 2rem 5rem 5rem; }
  .gallery__header {
    font-size: 2.6rem; } }

@media (max-width: 1100px) {
  .wrapper {
    max-width: 80rem; }
  .whyUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .right {
    display: none; }
  .left {
    width: 100%;
    padding: 10%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), url(../assets/image-4.jpeg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8)), url(../assets/image-4.jpeg);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8)), url(../assets/image-4.jpeg);
    background: linear-gradient(rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8)), url(../assets/image-4.jpeg);
    color: #fff; }
    .left h2 {
      text-align: center; }
  .persuasive {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .persuasive__image {
      height: 15rem;
      border: 1rem solid #fff;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 20rem;
      flex: 1 0 20rem; }
  .service__header {
    font-size: 2rem; }
  .offer__item {
    padding: 2rem 5rem; }
  .offer__header1::before {
    content: '1.';
    position: absolute;
    top: -30%;
    left: -60%;
    color: #e5e3e3;
    font-size: 9rem; }
  .offer__header2::before {
    content: '2.';
    position: absolute;
    top: -30%;
    left: -40%;
    color: #e5e3e3;
    font-size: 9rem; }
  .bios__container {
    height: 20rem; }
  .bios__hover {
    height: 20rem; }
  .bios__name {
    font-size: 2.4rem; } }

@media (max-width: 970px) {
  .wrapper {
    max-width: 70rem; }
  .gallery__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 35rem;
    flex: 1 0 35rem; }
  .offer__image {
    display: none; } }

@media (max-width: 730px) {
  .wrapper {
    margin: 0 5%; }
  .persuasive {
    text-align: center; }
    .persuasive__image {
      display: none; }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .service {
    width: 70%;
    margin: 2rem auto; }
  .testimonials {
    text-align: center; }
  .gallery__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 30rem;
    flex: 1 0 30rem; }
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .offer__item {
      width: 80%; } }

@media (max-width: 650px) {
  .wrapper {
    max-width: 100%;
    margin: 0 auto; }
  .button__link {
    font-size: 2rem; }
  .testimonials__comment {
    font-size: 1.6rem; }
  .bios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .bios__container {
      width: 25rem;
      margin: 1rem 0;
      height: 20rem; } }

@media (max-width: 450px) {
  .question__heading {
    text-align: center; } }
